{% block iphp_file_widget %}


    <div {{ block('widget_container_attributes') }}>

        {% if form.file is defined %}
            {{ form_widget(form.file) }}
        {% endif %}

        {# if was upload error value is uploadedFile and originalName no exists#}
        {% if file_data and  file_data.originalName is defined %}
            {% set fileUrl =   file_data.path %}
            {# |url_encode() #}



            {%  block iphp_file_info  %}
            <table>
                <tr>

                    {% if show_preview %}
                        {% if file_data.width is defined %}
                            <td><a href="{{ fileUrl }}" target="_blank" class="full-img-link"><img
                                            src="{{ fileUrl }}"
                                            width="{{  file_data .width > 200 ? 200 :  file_data.width }}" border="0"></a>
                            </td>
                            <td>&nbsp;&nbsp;&nbsp;</td>
                        {% endif %}
                    {% endif %}

                    <td style="vertical-align: top;">

                        <a href="{{ fileUrl }}" target="_blank" class="full-img-link">{{ file_data.fileName }}</a>
                        <br>{{ file_data.size /1000 }} Kb
                        {{ file_data.width is defined ? ', ' ~ file_data.width ~ 'x' ~ file_data.height : "" }}

                        {% if file_data.originalName !=  file_data.fileName %}
                            <br>{% trans %}Original file name{% endtrans %}: <b>{{ file_data.originalName }}</b>
                        {% endif %}



                        {% if form.delete is defined %}
                            <br><br>
                            {{ form_row (form.delete, {'label_attr' : { 'style' :'width:auto;padding-right:10px' }})}}
                        {% endif %}

                    </td>

                </tr>
            </table>
            {%  endblock iphp_file_info  %}


        {% endif %}

    </div>


{% endblock iphp_file_widget %}