{% block iphp_file_widget %}


{% set fileData = value %}
<div {{ block('widget_container_attributes') }}>

    <div style="float:left">{{ form_widget(form.file) }}</div>

    {# if was upload error value is uploadedFile and originalName no exists#}
    {% if fileData and fileData.originalName is defined %}
    {% set fileUrl =  fileData.path  %}
   {# |url_encode() #}


    <div style="float:left">
    <table>
        <tr>
            {% if fileData.width is defined %}
            <td><a href="{{ fileUrl }}" target="_blank" class="full-img-link"><img
                    src="{{ fileUrl }}" width="{{  fileData.width > 200 ? 200 : fileData.width }}" border="0"></a></td>
            <td>&nbsp;&nbsp;&nbsp;</td>
            {% endif %}
            <td style="vertical-align: top;">

                <a href="{{ fileUrl }}" target="_blank" class="full-img-link">{{ fileData.fileName }}</a>
                <br>{{ fileData.size /1000}}кб
                   {{  fileData.width is defined ? ', ' ~ fileData.width ~ 'x' ~ fileData.height : ""}}

                {% if fileData.originalName !=  fileData.fileName %}
                <br>Исходное название файла: {{ fileData.originalName }}
                {% endif %}

                <br>
                {{ form_row (form.delete, {'label_attr' : { 'style' :'width:auto;padding-right:10px'}})}}

            </td>

        </tr>
    </table>
    </div>

    {% endif %}




    {# dump( value) #}
</div>


        {% endblock iphp_file_widget%}